body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

header {
    background: #88CBDE;
    width: 100%;   
    height: 200px;
}

#PPPLogo {
    height: 200px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { 
        transform: translate(0,  0px); 
    }
    50%  { 
        transform: translate(0, 5px); 
    }
    100%   {
        transform: translate(0, -0px);
    }    
}

#cabinets {
    width: 85%;
    margin: 0 auto;
}

.cabinet {
    padding: 60px;
    text-align: center;
    /* display: flex;
    flex-direction: row; */
    overflow: hidden;
}

.drawer {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 20px solid #4D5A73;
    border-radius: 50px;
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.drawer-faith {

}

.drawer-family {

}

.drawer-self {

}

.drawer-professional {

}

.drawer-health {

}

.drawer-learning {

}
