body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

header {
    background: #88CBDE;
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
}

#PPPLogo {
    height: 200px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { 
        transform: translate(0,  0px); 
    }
    50%  { 
        transform: translate(0, 5px); 
    }
    100%   {
        transform: translate(0, -0px);
    }    
}

#cabinets {
    width: 85%;
    margin: 0 auto;
}

.cabinet {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-self: self-start;
    list-style: none;
}

.drawer {
    height: 150px;
    width: 150px;
    border: 5px solid #4D5A73;
    border-radius: 15px;
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background: white;
    margin-top: 100px;
}

.drawer-photos {
    transform: rotate(-7deg);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.drawer-media {
    transform: rotate(10deg);
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.drawer-portfolio {
    transform: rotate(-4deg);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.drawer-wellness {
    transform: rotate(3deg);
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.drawer-sandbox {
    transform: rotate(8deg);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

